n8n_paid_user_created_clean_sheet.json
{
  "name": "GYANA-WHM101 - Paid User Created - Clean Sheet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whm101-paid-user-created",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "5d6b4bc0-dc46-423c-a72f-90318359a13f",
      "name": "Webhook",
      "webhookId": "eb1c1a74-e4b2-4ed0-80c0-794b242a286b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D1orv4pqfmI7WRGzvCP_jMspFlAQPaXTDm5H3HerxO8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SUCCESSFUL PAYMENTS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{($json.body || $json).lead_timestamp || ($json.body || $json).created_at}}",
            "Email ID": "={{($json.body || $json).email}}",
            "Full Name": "={{($json.body || $json).full_name}}",
            "First Name": "={{(($json.body || $json).full_name || '').trim().split(/\\s+/)[0] || ''}}",
            "Last Name": "={{(($json.body || $json).full_name || '').trim().split(/\\s+/).slice(1).join(' ')}}",
            "Mobile Number": "={{(($json.body || $json).phone_number || '').replace(/^\\+/, '')}}",
            "Webinar Tag": "WHM101",
            "Platform": "Razorpay",
            "Status": "Paid"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Webinar Tag",
              "displayName": "Webinar Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [336, -80],
      "id": "6ac012fd-dd03-45fd-b039-dc1b3262c52f",
      "name": "Append clean paid user row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CQbOAKdgi3qVQjL4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "automation-recovered-after-failure",
              "leftValue": "={{($json.body || $json).automation_delivery_status}}",
              "rightValue": "recovered_after_failure",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [336, 160],
      "id": "a2e91b13-6fd2-4091-9d5e-e884f5850a5f",
      "name": "Recovered after automation failure?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D1orv4pqfmI7WRGzvCP_jMspFlAQPaXTDm5H3HerxO8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "AUTOMATION FAILURES",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{($json.body || $json).lead_timestamp || ($json.body || $json).created_at}}",
            "Razorpay Payment ID": "={{($json.body || $json).razorpay_payment_id}}",
            "Order ID": "={{($json.body || $json).razorpay_order_id}}",
            "Full Name": "={{($json.body || $json).full_name}}",
            "Email ID": "={{($json.body || $json).email}}",
            "Mobile Number": "={{(($json.body || $json).phone_number || '').replace(/^\\+/, '')}}",
            "Bot Status": "Offline",
            "Failure Status": "Recovered after retry",
            "Retry Count": "={{($json.body || $json).automation_retry_count}}",
            "Last Error": "={{($json.body || $json).automation_last_error}}",
            "Recovered At": "={{($json.body || $json).automation_recovered_at}}",
            "Manual Follow-up": "Review only if SUCCESSFUL PAYMENTS row is missing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Razorpay Payment ID",
              "displayName": "Razorpay Payment ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bot Status",
              "displayName": "Bot Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Failure Status",
              "displayName": "Failure Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retry Count",
              "displayName": "Retry Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Error",
              "displayName": "Last Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recovered At",
              "displayName": "Recovered At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manual Follow-up",
              "displayName": "Manual Follow-up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [672, 160],
      "id": "c86b80e3-9342-4249-87b0-9ab357e2d755",
      "name": "Append automation failure log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CQbOAKdgi3qVQjL4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append clean paid user row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recovered after automation failure?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recovered after automation failure?": {
      "main": [
        [
          {
            "node": "Append automation failure log",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
